.Inventory{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:130px;
    padding:4px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);
    background: rgb(210, 159, 83);


}
.InventoryPersonal{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:120px;
    width:384px;
    padding:4px;
    background: var(--menu-background);


}
.fishStore{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:120px;
    width:384px;
    padding:4px;
    background: rgb(152, 91, 35);


}



