.Inventory{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:130px;
    padding:4px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);
    background: rgb(210, 159, 83);


}
.InventoryPersonal{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:120px;
    width:384px;
    padding:4px;
    background: var(--menu-background);


}
.fishStore{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:120px;
    width:384px;
    padding:4px;
    background: rgb(152, 91, 35);


}
.ConsoleLog {
    position: absolute;
    left: auto; /* Set left to auto to remove any previous left alignment */
    right: 0;
    bottom: 0;
    height: 120px;
    width: 215px;
    padding: 4px;
    background: rgb(151, 96, 44);
}
.fishInv{
    position: absolute;
    left: auto; /* Set left to auto to remove any previous left alignment */
    right: 0;
    bottom: 0;
    height: 150px;
    width: 220px;
    padding: 4px;
    background: var(--menu-background);
}


.consoleL{
  
    margin-top: -105px;
    margin-left: 3px;
    height:105px;
    width:105px;
    padding:4px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);

}
.itens{
  
    margin-top: 5px;
    margin-left: 117px;
    height:55px;
    width:85px;
    padding:4px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);

}

.username{
  
    margin-top: 3px;
    margin-left: 117px;
    height:20px;
    width:85px;
    padding:4px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);

}
.money{
  
    margin-top: 5px;
    margin-left: 117px;
    height:20px;
    width:85px;
    padding:4px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);

}
.butao1{
  

    height:20px;
    width:75px;
    padding:4px;

}
.butao2{
  

    height:20px;
    width:75px;
    padding:4px;
   
}